@import "vars";
@import "fonts";

body {
  padding: 0;
  margin: 0;
}

.page {
  padding: 24px;
}

.catalog {
  display: flex;
  gap: 24px;
}

.courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 18px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
    flex: 0 0 calc(33.33% - 18px);
    height: 210px;
  }

  &__item-image {
    height: 144px;
    width: 144px;
  }

  &__item-info {
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 0 0 18px 18px;
  }

  &__item-name {
    display: block;
    padding: 12px 0 0 18px;
    color: $textColor;
    font-family: "NunitoExtra";
    font-size: 18px;
    font-weight: 800;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  width: 264px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #cfcfe4;
  height: fit-content;

  &__item {
    font-family: "NunitoExtra";
    font-weight: 800;
    font-size: 18px;
    padding: 12px;
    color: $textColor;
    border-radius: 12px;
    cursor: pointer;

    &.selected {
      background-color: $hover;
      color: white;
    }
  }
}
